.Body{
    
    width: 640px;
    height: 520px;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid black;
/*    margin: 1em;*/
}

.Boat{
    
    position: absolute;
    left: 80px;
    top:40px;
    z-index: 80;
}