/*
html, body{
    
    width: 100vw;
    height: 100vh;
}
*/

.Body {

    width: 320px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid black;
    /*    margin: 1em;*/
}

/*
.Wrapper{
    
    width: 100vw;
    height: 100vh;
}
*/

/*
@media (max-width: 500px) {

    .Body {

        width: 640px;
        height: 520px;
    }
}
*/
