.LevelBox{
    
    display:none;
/*
    width:260px;
    height:160px;
*/
    background-color: gold;
    opacity: 0.7;
    color: black;
    position: absolute;
    left: 200px;
    top: 1em;
    z-index: 300;
    padding: 2em;
    text-align: center;
    border-radius: 1em;
    font-family: 'McLaren', cursive;
    font-size: 18px;
}