.Inventory{
    
    position: fixed;
    height: 50px;
    width: 200px;   
    right: 0;
    top:200px;
    border-radius: 10px;
    background-color: darkblue;
    text-align: center;
    margin-right: 5em;
    color: white;
    padding-top: 1em;
}

.Inventory:hover, Inventory:active{
    
    cursor: pointer;
}

.Content{
    
    position: fixed;
    height: 200px;
    width: 300px;   
    right: 0;
    top:300px;
    border-radius: 10px;
/*    background-color: darkgoldenrod;*/
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
    z-index: 100;
    border: 5px solid black;
    margin-right: 2em;
}

.UseButton{
    
    margin-right: 5px;
    margin-left: 1em;
}

@media (max-width: 500px){
    
    .Inventory{
        
        left: 3em;
        top: 640px;
    }
    
    .Content{
        
        left: 0;
        top:740px;
    }
}